{% extends 'base.html' %}

{% block content %}
<style>
    .center-block {
            text-align: center;
            margin-top: 50px;
            color: white;
        }

        .center-block img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
        }
</style>
<main class="container mt-5">
    <div class="center-block">
        <img src="{{ url_for('static', filename='img/doom_mount.jpg') }}" alt="Цель" class="img-fluid">
        <h2 class="mt-3" style="color:black;">Место, к которому мы стремимся.</h2>
    </div>
</main>
{% endblock %}