{% extends 'base.html' %}

{% block content %}
<main class="container mt-5">

    <div class="row mt-4">
        {% for news_item, author in news %}
        <div class="col-md-4 mb-4">
            <div class="card news-card">
                <div class="card-body">
                    <h5 class="card-title">{{ news_item.title }}</h5>
                    <p class="card-text">{{ news_item.content[:100] }}...</p>
                    <p class="text-muted">Дата: {{ format_datetime(news_item.date_of_create, format='d MMMM yyyy') }}</p>
                    <p>Автор: {{ author.name }} {{ author.surname }}</p>
                    <a href="{{ url_for('news_detail', news_id=news_item.id) }}" class="btn btn-primary">Читать далее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}